/* CSS declarations go here */
@import "settings";
@import ".meteor/local/build/programs/server/assets/packages/matthew_foundation5-sass/foundation";

body
{
	background-image: url('/background.jpg');
	background-size: cover;
}

button, .button
{
	padding: 10px 20px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset,0 1px 1px rgba(100,100,100,0.3);
 	border: 1px solid rgba(0,0,0,.2);
 	text-shadow: 1px 1px 2px rgba(0,0,0,.8);
}
.panel
{
	background: rgba(240,240,240,.9);
}
.panel.question
{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: 0px;
}
.panel.controls
{
	border-top: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
img.avatar
{
	border-radius: 50%;
}
ul.title-area li.logo a, ul.title-area li.logo
{
	background: rgba(255,255,255,1);
	border-bottom-right-radius: 10px;
}