/* CSS declarations go here */
@import "settings";
@import ".meteor/local/build/programs/server/assets/packages/matthew_foundation5-sass/foundation";

body
{
	background-image: url('/background.jpg');
	background-size: cover;
}

button, .button
{
	padding: 10px 20px;
}
.panel
{
	background: rgba(240,240,240,.9);
}
.panel.question
{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: 0px;
}
.panel.controls
{
	border-top: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
img.avatar
{
	border-radius: 50%;
}